
@{
    ViewBag.Title = "Cancelpolicy";
    Layout = "~/Views/Shared/_IndexLayout.cshtml";
}
<div style="margin-top:120px;text-align:center;height:350px;">
<h2 style="font-size:35px;color:red;">Coming Soon</h2>
    </div>

<hr />
