
@{
    ViewBag.Title = "Service";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div id="listar-content" class="listar-content">
    <form class="listar-formtheme listar-formaddlisting">
        <div id="listar-addlistingsteps" class="listar-addlistingsteps">
            <div class="listar-steptitle"><em>Vehicle Infromation</em></div>
            <section>
                <fieldset>
                    <div class="listar-boxtitle">
                        <h3>You need to login to conform the booking</h3>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group listar-dashboardfield">
                                <label>Driver Name</label>:<span>jdsnsdnckln</span>
                                
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group listar-dashboardfield">
                                <label>Driver License Id</label>
                               :<span>jdnjdsnonnpk</span>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group listar-dashboardfield">
                                <label>Vehicle Info</label>
                               :<span></span>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group listar-dashboardfield">
                                <label>From Baording points :</label>
                                
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group listar-dashboardfield">
                                <label>Start Time :</label>
                                
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group listar-dashboardfield">
                                <label>Travels :</label>
                               
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                            <div class="form-group listar-dashboardfield">
                                <label>Available Seats:</label>
                                <div class="clearfix"></div>
                                 
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                            <div class="form-group listar-dashboardfield">
                                <label>Select Seats Count</label>
                                
                            </div>
                        </div>
                         
                    </div>
                     
                </fieldset>
            </section>
            <div class="listar-steptitle"><em>Book and conform</em></div>
            <section>
                <fieldset>
                    <div class="listar-boxtitle">
                        <h3>Location</h3>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-5 col-lg-6">
                            <div class="form-group listar-dashboardfield">
                                <label>Select Your baording Point</label>
                                <input type="text" name="website" class="form-control" placeholder="Search for address" required="true">
                            </div>
                            
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group listar-dashboardfield">
                                <label>Select Payment Mode</label>
                                <input type="text" name="website" class="form-control" placeholder="Search for address">
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-5 col-lg-6">
                            <div class="form-group listar-dashboardfield">
                                <label>Contact Person Name</label>
                                <input type="text" name="website" class="form-control" placeholder="Search for address">
                            </div>

                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group listar-dashboardfield">
                                <label>EMail</label>
                                <input type="text" name="website" class="form-control" placeholder="Search for address">
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-5 col-lg-6">
                            <div class="form-group listar-dashboardfield">
                                <label>Phone Number</label>
                                <input type="text" name="website" class="form-control" placeholder="Search for address">
                            </div>

                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group listar-dashboardfield">
                                <label>Age </label>
                                <input type="text" name="website" class="form-control" placeholder="Search for address">
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-5 col-lg-6">
                            <div class="form-group listar-dashboardfield">
                                <label>Alternative Number</label>
                                <input type="text" name="website" class="form-control" placeholder="Search for address">
                            </div>

                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group listar-dashboardfield">
                                <label>Gender </label>
                                <input type="text" name="website" class="form-control" placeholder="Search for address">
                            </div>

                        </div>
                    </div>
                </fieldset>
            </section>
            <div class="listar-steptitle"><em>Your infromation</em></div>
            <section>
                <fieldset>
                    <div class="listar-boxtitle">
                        <h3>Price Setting</h3>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                            <div class="form-group listar-dashboardfield">
                                <label>#no Of passingers:</label>
                                :#12
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                            <div class="form-group listar-dashboardfield">
                                <label>Total price</label>
                               :8908
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                            <div class="form-group listar-dashboardfield">
                                <label>Maximum Price</label>
                                 @if (Session["login_user_Session"] != null)
                                 {
                                <input type="button" name="name" class="btn btn-primary" value="confirm Booking">
                                 }
                                 else
                                 {
                                    <a id="" class="" href="#listar-loginsingup">
                                         
                                        <span>Please login to confirm your booking</span>
                                    </a>
                                 }
                            </div>
                        </div>
                    </div>
                </fieldset>
                 
            </section>
            
            
        </div>
    </form>
</div>

 