
@{
    ViewBag.Title = "UpcomingRides";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<link rel="stylesheet" href="~/theme/css/style.css">
<div id="page-content">
    <div class="panel">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel">
                   
                        <div class="db-2-com db-2-main">
                            <h4>Upcoming Rides</h4>
                            <div class="db-2-main-com cal-md-12" style="padding-bottom:130px;">
                                <div class="db-2-main-1 cal-md-3" style="background:#fff;-webkit-box-shadow: 1px 0px 3px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 1px 0px 10px 0px rgba(0,0,0,0.75);box-shadow: 1px 0px 10px 0px rgba(0,0,0,0.75);margin-right:25px;width:47%">
                                    <div class="db-2-main-2">
                                        <table>
                                            <tr>
                                                <td>
                                                    <img src="~/theme/images/car.png" alt="" width="120px">
                                                <td>
                                                <td>
                                                    <span style="text-align:center;">TaTa Indica</span><br>&nbsp;&nbsp;&nbsp;&nbsp;Driver Id:11111 | Car no:22222
                                                </td>
                                            </tr>
                                        </table>
                                        <ul>
                                            <li><a href="#!">Bording Point&#160;:&#160;<b>Ameerpet</b>&#160;&#160; |&#160; &#160;Dropin point&#160;:&#160;<b>Tenali</b></a></li>
                                            <li><a href="#!">No of Seats Booked&#160;:&#160;<b>2</b>&#160;&#160; |&#160; &#160;Amount Paid&#160;:&#160;<b>500</b></a></li>


                                        </ul>

                                    </div>
                                </div>
                                <div class="db-2-main-1 cal-md-3" style="background:#fff;-webkit-box-shadow: 1px 0px 3px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 1px 0px 10px 0px rgba(0,0,0,0.75);box-shadow: 1px 0px 10px 0px rgba(0,0,0,0.75);margin-right:25px;width:47%">
                                    <div class="db-2-main-2">
                                        <table>
                                            <tr>
                                                <td>
                                                    <img src="~/theme/images/car.png" alt="" width="120px">
                                                <td>
                                                <td>
                                                    <span style="text-align:center;">TaTa Indica</span><br>&nbsp;&nbsp;&nbsp;&nbsp;Driver Id:11111 | Car no:22222
                                                </td>
                                            </tr>
                                        </table>
                                        <ul>
                                            <li><a href="#!">Bording Point&#160;:&#160;<b>Ameerpet</b>&#160;&#160; |&#160; &#160;Dropin point&#160;:&#160;<b>Tenali</b></a></li>
                                            <li><a href="#!">No of Seats Booked&#160;:&#160;<b>2</b>&#160;&#160; |&#160; &#160;Amount Paid&#160;:&#160;<b>500</b></a></li>


                                        </ul>

                                    </div>
                                </div>

                            </div>
                        </div>




                  
                    </div>
                </div>
                </div>
            </div>
            
        </div>