
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_IndexLayout.cshtml";
}

<div class="container-fluid" style="background-image: url(images/2.pg);background-size: 100% 100%;margin-top:30px;">
    <div class="row" style="margin:20px;background-color: #fff;">
        <div class="container">
            <div class="col-md-12">
                <h2 style="color: orange;text-align: center;font-size: 30px;">About Our Company</h2>
                @*<b><label style="width: 90px;border: 1px solid #ccc;"></label></b>*@
                <h4 style="color:orange;text-align: left">Who we are!</h4>
                <p style="text-align: left;">Zurides is the number 1 inter-city car ticketing service in the world. Zurides is a part of Agasthyaapplabs.</p>

                <h4 style="color:orange;text-align: left">Our Credentials</h4>
                <p style="text-align: left">
                    Founded in 2016 in Bangalore, India, Zurides now connects various cities across the globe with

                    just a click of a button. Zurides has revolutionized the online car ticket booking industry by bringing together over 2,000 car operators covering over 100,000 routes across countries.
                </p>

                <p style="text-align: left">With its mobile app downloaded by over 7.5 million loyal customers, Zurides is the largest community of car travellers in the world.</p>

                <h4 style="color:orange;text-align: left">So, Why Book With Us?</h4>
                <p style="text-align: left">
                    Zurides provides car travellers, the most uncomplicated and hassle-free booking experience ever.

                    Choose your destination, select car based on user ratings, view the seat layout,choose convenient seats, and book your ticket in just a few clicks!
                </p>

                <p style="text-align: left">The Zurides experience does not end with the booking.</p>

                <p style="text-align: left">In a series of industry leading features, Zurides offers navigation to car boarding points, real-time tracking of cares and information on rest stops.</p>

                <p style="text-align: left">Zurides also partners with leading car operators to provide exclusive ‘Red Deals” to customers booking on Zurides.</p>

                <p style="text-align: left">A dedicated 24*7 customer-care team is available to cater to all the passengers needs while they are on-the- go.</p>
            </div>
        </div>
        <br><br>
        
    </div>
</div>
<hr />

